.authentication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login-container {
    border: 1px solid #D3D3D3;
    border-radius: 10px;
}

.logo {
    background: linear-gradient(90deg, rgba(89, 184, 82, 1) 0%, rgba(137, 195, 65, 1) 100%);
    color: white;
    border-radius: 5px;
    width: fit-content;
}

.error {
    color: red;
    font-size: 10px;
}

.success {
    color: green;
    font-size: 10px;
}

.nowrap {
    white-space: nowrap;
}

.green-text {
    color: #59B852FF;
}

.grey-bg {
    background-color: #f8f9fa;
}

.nav-link.active {
    color: #0b5ed7 !important;
}

.pointer {
    cursor: pointer;
}

.nav-tabs > li > .nav-link.active {
    color: #59B852FF;
    background-color: #F5F5F5;
    border-bottom-color: #F5F5F5;
}

.transfer-row > td, .transfer-row > th {
    padding: 20px !important;
    text-align: center;
}

.btn-success {
    background-color: #59B852FF !important;
    border-color: #59B852FF !important;
}

.transfer-row > th {
    background-color: #59B852FF !important;
    color: white !important;
    font-weight: normal;
}

.transfer-table {
    width: 100%;
    border: 1px solid black !important;
}

.description > div {
    width: auto;
    min-width: 0;
    max-width: 30vw;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fa-paper-plane {
    font-size: 2em;
}