<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>
    <header th:replace="fragments/header.html"></header>
    <div class="container p-4">
        <h1>Contact <span class="green-text">us</span></h1>
        <div class="mt-5 d-flex flex-column grey-bg p-5">
            <p>If you have any question regarding your account or use of the app, feel free to email us by clicking on <a href="mailto:contact@paymybuddy.com">this link</a>.
                We will answer your question as soon as we can. Contact us between 8am and 8pm to get an answer during the day.
            </p>
            <i class="fas fa-paper-plane text-end mt-5 me-5 green-text"></i>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>